<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="com.yangyang">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <context:exclude-filter type="annotation"
                                expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
    </context:component-scan>

    <!-- 1: 配置数据源 -->
    <context:property-placeholder location="classpath*:jdbc.properties"/>
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>
    <!-- 配置jdbcTemplate -->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--<task:executor id="executor" pool-size="5" />-->
    <!--<task:scheduler id="scheduler" pool-size="10"/>-->
    <!--<task:annotation-driven executor="executor" scheduler="scheduler" />-->

    <!-- hibernate instance ==> config sessionFactory and declare transaction -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="configLocation" value="classpath:beans-hibernate.xml" />
        <property name="packagesToScan" value="com.yangyang.hibernate.model" />
    </bean>

    <bean id="hibernateTransactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <tx:advice id="hibernateTx" transaction-manager="hibernateTransactionManager">
        <tx:attributes>
            <tx:method name="add*" />
            <tx:method name="del*" />
            <tx:method name="update*" />
            <tx:method name="*" read-only="true" />
        </tx:attributes>
    </tx:advice>
    
    <!--1 jdbc- transactionManager -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>
    <!-- 启用事物注解-->
    <!--<tx:annotation-driven />-->

    <!--2 jdbc-配置事物属性-->
    <tx:advice id="jdbcTx" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="add*"/>
            <tx:method name="update*" />
            <tx:method name="del*" />
            <tx:method name="*" read-only="true" />
        </tx:attributes>
    </tx:advice>
    <!--3 配置事物切入点 -->
    <aop:config>
        <aop:pointcut id="jdbcPointCut" expression="execution(* com.yangyang.service.*.*(..))"/>
        <aop:pointcut id="hibernatePointCut" expression="execution(* com.yangyang.hibernate.service.*.*(..))" />
        <aop:advisor advice-ref="hibernateTx" pointcut-ref="hibernatePointCut" />
        <aop:advisor advice-ref="jdbcTx" pointcut-ref="jdbcPointCut" />
    </aop:config>
</beans>